@import "../../variables.scss";

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 10px solid white;
  border-bottom-color: transparent;
  border-radius: 40px;
  animation: loader 1s infinite linear;
  order:-1;
}

@keyframes loader {
  from {
    transform: translate(-50%) rotate(0deg);
  }

  to {
    transform: translate(-50%) rotate(360deg);
  }
}
