@import "../../variables.scss";

.container__accomodation {
  max-width: 1240px;
  padding: 0 100px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  @media (max-width: $breakpoint-mobile) {
    padding: 0 20px;
    margin: 0 auto;
  }
}

.container__carrousel {
  position: relative;
  @media (max-width: $breakpoint-mobile) {
    height: 255px;
  }
  .accomodation__picture {
    object-fit: cover;
    width: 100%;
    border-radius: 25px;
    @media (max-width: $breakpoint-mobile) {
      border-radius: 10px;
      height: 255px;
    }
  }
  .picture__arrow_back {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    &:hover {
      cursor: pointer;
    }
  }
  .picture__arrow_forward {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    &:hover {
      cursor: pointer;
    }
  }

  .picture__number {
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    color: white;
    left: 50%;
    bottom: 15px;
  }
}

.container__description {
  margin: 30px 0;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h3 {
    color: black;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
  }

  &-location {
    h2 {
      color: $primary-color;
      font-size: 36px;
      font-weight: 500;
      margin: 0;
    }
  }

  &-host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    p {
      font-size: 18px;
      text-align: right;
      color: $primary-color;
      width: 80px;
      margin-right: 10px;
    }
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 10px 0;
  }
}

.host__picture {
  width: 64px;
  height: 64px;
  border-radius: 64px;
  background-color: grey;
  img {
    border-radius: 32px;
  }
}
.container__tags-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.container__tags {
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.container__details {
  max-width: 1240px;
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  @media (max-width: $breakpoint-mobile) {
    flex-direction: column;
  }
}

.details__description {
  width: 47%;
  @media (max-width: $breakpoint-mobile) {
    width: 100%;
  }
}

.container__location-tags-host-rating {
  margin: 30px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container__location-tags {
  width: 70%;

  &__location {
    h2 {
      color: $primary-color;
      font-size: 36px;
      font-weight: 500;
    }
  }

  &__tags {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.container__tags-rating {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}
