@import "../../variables.scss";

.container__host {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &__name {
      font-size: 18px;
      text-align: right;
      color: $primary-color;
      width: 80px;
      margin-right: 10px;
    }

    &__picture {
        width: 64px;
        height: 64px;
        border-radius: 64px;
        background-color: grey;
        img {
          border-radius: 32px;
        }
      }
  }