@import "../../variables.scss";

header {
  max-width: 1240px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  img {
    width: 210px;
    height: 68px;
  }
}

nav {
  align-content: center;
  .link, .link-active {
    margin-left: 30px;
    font-size: 24px;
    text-decoration: none;
    color: black;
    text-align: right;
  }
  .link-active {
    text-decoration: underline;
  }
}
