/* =========================================== */
/* VARIABLES */
/* =========================================== */

$primary-color: #ff6060;
$primary-bg-color: #f6f6f6;

$responsive-mobile-size: 768px;
$responsive-desktop-size: 1064px;
